<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coding blog</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <div class="post-container">
      <div id="1" class="post">
        <img class="post-pic" src="/images/laptop1.jpg" alt="" />
        <div class="post-content">
          <p class="date"></p>
          <h2 class="post-title">this is post title</h2>
          <p class="post-desc">this is post description</p>
          <a href="post1">Read post</a>
          <a class="delete" href="">Delete</a>
        </div>
      </div>

      <div id="2" class="post">
        <img class="post-pic" src="/images/laptop2.jpg" alt="" />
        <div class="post-content">
          <p class="date"></p>
          <h2 class="post-title">this is post title</h2>
          <p class="post-desc">this is post description</p>
          <a href="post2">Read post</a>
          <a class="delete" href="">Delete</a>
        </div>
      </div>

      <div id="3" class="post">
        <img class="post-pic" src="/images/laptop3.jpg" alt="" />
        <div class="post-content">
          <p class="date"></p>
          <h2 class="post-title">this is post title</h2>
          <p class="post-desc">this is post description</p>
          <a href="post3">Read post</a>
          <a class="delete" href="">Delete</a>
        </div>
      </div>
      <div id="4" class="post">
        <img class="post-pic" src="/images/meeting4.jpg" alt="" />
        <div class="post-content">
          <p class="date"></p>
          <h2 class="post-title">this is post title</h2>
          <p class="post-desc">this is post description</p>
          <a href="post4">Read post</a>
          <a class="delete" href="">Delete</a>
        </div>
      </div>
    </div>
<!-- testing git checkout -->
    <%# first Photo by
    <a
      href="https://unsplash.com/@goran_ivos?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Goran Ivos</a
    >
    on
    <a
      href="https://unsplash.com/photos/turned-on-macbook-air-on-desk-iOykDIkZLQw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Unsplash</a
    >
    second and third Photos by
    <a
      href="https://unsplash.com/@thisisengineering?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >ThisisEngineering</a
    >
    on
    <a
      href="https://unsplash.com/photos/woman-in-black-shirt-sitting-on-chair-in-front-of-computer-pIdteYOzGFY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Unsplash</a
    >
    fourth Photo by
    <a
      href="https://unsplash.com/@amyhirschi?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Amy Hirschi</a
    >
    on
    <a
      href="https://unsplash.com/photos/woman-in-teal-t-shirt-sitting-beside-woman-in-suit-jacket-JaoVGh5aJ3E?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
      >Unsplash</a
    >
    %>
  </body>
</html>
